body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/* HEADER */

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}

.logo:hover {
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    color: white;
}

li {
    margin: 0 1rem;
    font-style: italic;
    font-size: .75rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

li:hover {
    cursor: pointer;
}

/* MAIN CONTENT */

main {
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

#content {
    width: 100%;
    margin: 0 auto;
}

/* HISTORY PAGE */

.hx-content {
    position: relative;
    top: 8rem;
}

.content-number {
    width: 25%;
}

.content-text {
    margin-left: calc(1rem + 3vw);
    font-family: 'Open Sans', sans-serif;
}

/* TEAM PAGE */

.team-container {
    position: relative;
    top: 8rem;
}

.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.5rem 0;
}

.team-header {
    width: 20%;
}

.team-number {
    width: 100%;
}

.team-text {
    width: 40%;
    margin-left: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.team-menu {
    padding: .5rem;
    padding-left: 17%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #697a98;
    background-color: #414f6a;
}

.team-menu span {
    padding: .5rem 1rem;
    font-weight: 600;
}

.team-menu span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #414f6a;
    background-color: #697a98;
}

/* SCHEDULE TABLE */

.schedule {
    background: rgba(255, 255, 255, 0.75);
    padding: .75rem 2rem;
    width: 15rem;
    margin-left: 17%;
    margin-top: 5rem;
}

.schedule h2 {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    letter-spacing: .1rem;
    color: #414f6a;
}

table {
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
}

.schedule-date {
    padding-right: 2.25rem;
}

.empty-row {
    height: 1rem;
}

/* FOOTER */

footer {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #414f6a;
}