body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}

.logo:hover {
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    color: white;
}

li {
    margin: 0 1rem;
    font-style: italic;
    font-size: .75rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

li:hover {
    cursor: pointer;
}

main {
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

#content {
    outline: 1px solid red;
    width: 60%;
    margin: 0 auto;
}

.hx-content {
    outline: 2px solid orange;
    padding: 8rem 0 0;
}

footer {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #414f6a;
}