body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: underline;
    color: white;
}

li {
    margin: 0 1rem;
    font-style: italic;
    font-size: .75rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

li:hover {
    cursor: pointer;
}

main {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #414f6a;
    padding: .75rem 0;
}